<div class="panel panel-default comment">
  <div class="panel-heading">
    <span class="bold"><%= comment.user.email %></span> commented:
  </div>
  <div class="panel-body">
    <%= comment.comment %>
  </div>
  <% if can?(:destroy, comment) %>
    <div class="panel-footer text-right">
      <%= content_tag :span, raw('<span class="glyphicon glyphicon-remove"></span> Destroy comment'), data: { id: comment.id, href: comment_path(comment) }, class: 'btn btn-xs btn-default destroy-comment' %>
    </div>
  <% end %>
</div>
