<% comment ||= Comment.new(commentable: post) %>
<%= simple_form_for comment, html: { remote: true } do |f| %>
  <%= f.input :commentable_id, as: :hidden %>
  <%= f.input :commentable_type, as: :hidden %>
  <%= f.input :comment, placeholder: 'Comment', label: false %>
  <%= f.button :submit, disabled: cannot?(:create, Comment) %>
<% end %>