              <%= form_for(current_user.active_relationship.build, remote: true) do |f| %>
                <%= hidden_field_tag :following_id, @user.id %>
                  <%= f.submit "Follow", class: "btn btn-success" %>
              <% end %>
