<div class="jumbotron">
  <h1>Dashboard</h1>
  <p>Hello again, <%= current_user.email unless current_user.nil? %></p>
  <%= render partial: 'posts/form' %>
</div>
<% unless current_user.follow_suggestions.empty? %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">People you might want to follow</h3>
    </div>
    <ul class="list-group">
      <% current_user.follow_suggestions.each do |u| %>
        <%= link_to u, class: 'list-group-item' do %>
          <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<%= u.email %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end  %>
<div id="infinite-wrapper">
  <div id="posts">
    <%= render partial: 'posts/post', collection: @posts %>
  </div>
  <p class="pagination">
    <%= link_to_next_page(@posts, 'Next Page', :remote => true) %>
  </p>
</div>