<div class="jumbotron">
  <h1>Users</h1>
  <p>Listing all users</p>
</div>
<div class="list-group" id="infinite-wrapper">
  <div id="users">
    <%= render partial: 'users/users' %>
  </div>
  <p class="pagination">
    <%= link_to_next_page(@users, 'Next Page', :remote => true) %>
  </p>
</div>
