$("<%=j render(:partial => 'users/users') %>").appendTo($("#users"));
<% if @users.last_page? %>
$('.pagination').html("End");
<% else %>
$('.pagination').html("<%=j link_to_next_page(@users, 'Next Page', :remote => true) %>");
<% end %>