$("<%=j render(:partial => 'posts/post', collection: @posts) %>").appendTo($("#posts"));
<% if @posts.last_page? %>
  $('.pagination').html("End");
<% else %>
  $('.pagination').html("<%=j link_to_next_page(@posts, 'Next Page', :remote => true) %>");
<% end %>
$("#follow_form").html("<%= escape_javascript(render('users/follow')) %>")
$("#followers").html('<%= @user.followers.count %>')
