<div class="jumbotron jumbotron-profile">
  <h1>Profile of</h1>
  <p><%= @user.email %></p>
  <div class="following">
  <%= if current_user && current_user.follow?(@user.id)
        render partial: 'users/unfollow'
      elsif current_user
        render partial: 'users/follow'
      end
  %>
  </div>
  <hr />
  <ul class="nav nav-pills">
    <li class="active"><a>Postów <span class="badge"><%= @user.posts.count %></span></a></li>
    <li class="active"><a>Średnio postów dziennie <span class="badge"><%= @user.posts.count / ([Date.today..@user.created_at].count + 1)%> </span></a></li>
    <li class="active"><a>Obserwuje <span class="badge"><%= @user.followed.count %></span></a></li>
    <li class="active"><a>Obserwowany przez <span class="badge followers"><%= @user.followers.count p%></span></a></li>
  </ul>
</div>

<div id="guests">
  <h2> Last guests </h2>
<% @user.guests.limit(5).each do |user| %>
  <%= link_to user, class: 'list-group-item' do %>
    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<%= user.email %>
  <% end %>
<% end %>
</div>
</br>

<div id="infinite-wrapper">
  <div id="posts">
    <%= render partial: 'posts/post', collection: @posts %>
  </div>
  <p class="pagination">
    <%= link_to_next_page(@posts, 'Next Page', :remote => true) %>
  </p>
</div>
