<% post ||= Post.new %>
<%= simple_form_for post, html: { class: 'form-horizontal', remote: true }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :content, placeholder: "What's up?", label: false %>
  <%= f.button :submit %>
<% end %>