<div class="panel panel-primary">
  <div class="panel-heading">
    <span class="bold"><%= post.author.email %></span> posted:
  </div>
  <div class="panel-body">
    <%= post.content %>
    <hr />
    <div class="comments-wrapper">
      <div class="comments">
        <%= render post.comments, locals: { post: post } %>
      </div>
      <%= render partial: 'comments/form', locals: { post: post } %>
    </div>
  </div>
</div>