@import "bootstrap-sprockets";
@import "bootstrap";

.bold {
  font-weight: bold!important;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.cj-tpl {
  padding: 70px 0;

  h2 {
    margin-bottom: 1em;
  }

  .field,
  .actions {
    margin-bottom: 1em;
  }

  a[href="/sign_up"],
  a[href="/login"] {
    @extend .btn, .btn-success, .btn-sm;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 300px;
    @extend .form-control;
  }

  input[type="submit"] {
    @extend .btn, .btn-primary;
  }

  .jumbotron {
    p {
      font-size: 32px;
    }

    &.jumbotron-profile {
      .nav-pills {
        li {
          margin-right: 1em;
        }
      }
    }
  }
}