<!DOCTYPE html>
<html>
<head>
  <title>Rekrutacja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CJ Group<%= " ( #{current_user.email} )" unless current_user.nil? %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Users', users_path %></li>
        <% unless current_user.nil? %>
          <li><%= link_to 'Logout', destroy_session_path(current_user), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container theme-showcase" role="main">
  <div class="cj-tpl">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<script>
  App.init();
</script>
</body>
</html>
